/target
/venv
models/llm/NousResearch/Llama-2-13b-chat-hf/config.json
models/llm/NousResearch/Llama-2-13b-chat-hf/model-00001-of-00003.safetensors
models/llm/NousResearch/Llama-2-13b-chat-hf/model-00002-of-00003.safetensors
models/llm/NousResearch/Llama-2-13b-chat-hf/model-00003-of-00003.safetensors
models/llm/NousResearch/Llama-2-13b-chat-hf/tokenizer.json
models/llm/NousResearch/Llama-2-13b-hf/config.json
models/llm/NousResearch/Llama-2-13b-hf/model-00001-of-00003.safetensors
models/llm/NousResearch/Llama-2-13b-hf/model-00002-of-00003.safetensors
models/llm/NousResearch/Llama-2-13b-hf/model-00003-of-00003.safetensors
models/llm/NousResearch/Llama-2-13b-hf/tokenizer.json
models/llm/uukuguy/speechless-llama2-hermes-orca-platypus-wizardlm-13b/config.json
models/llm/uukuguy/speechless-llama2-hermes-orca-platypus-wizardlm-13b/model-00001-of-00003.safetensors
models/llm/uukuguy/speechless-llama2-hermes-orca-platypus-wizardlm-13b/model-00002-of-00003.safetensors
models/llm/uukuguy/speechless-llama2-hermes-orca-platypus-wizardlm-13b/model-00003-of-00003.safetensors
models/llm/uukuguy/speechless-llama2-hermes-orca-platypus-wizardlm-13b/tokenizer.json
models/llm/TheBloke/Speechless-Llama2-Hermes-Orca-Platypus-WizardLM-13B-GPTQ/config.json
models/llm/TheBloke/Speechless-Llama2-Hermes-Orca-Platypus-WizardLM-13B-GPTQ/model.safetensors
models/llm/TheBloke/Speechless-Llama2-Hermes-Orca-Platypus-WizardLM-13B-GPTQ/tokenizer.json
models/llm/TheBloke/Speechless-Llama2-Hermes-Orca-Platypus-WizardLM-13B-GPTQ/tokenizer.model
