{{ bos_token }}{% for message in messages %}{% set is_user = message['role'] == 'user' %}{% set is_even = loop.index0 % 2 == 0 %}{% if is_user != is_even %}{{ raise_exception(err="Conversation roles must alternate user/assistant/user/assistant/...") }}{% endif %}{% if loop.index0 == 0 %}{% set content = system_message ~ ' ' ~ 'Answer this question: ' ~ message['content'] | trim %}{% elif message['role'] == 'user' %}{% set content = 'Answer this follow up question: ' ~ message['content'] | trim %}{% else %}{% set content = message['content'] | trim %}{% endif %}{% if message['role'] == 'user' %}{{ '[INST] ' ~ content ~ ' [/INST]' }}{% elif message['role'] == 'assistant' %}{{ ' '  ~ content ~ ' ' ~ eos_token | trim}}{% endif %}{% endfor %}