### Your Task

Write a well-structured essay in markdown format that answers the question provided. Be helpful, respectful, and honest in your response.

### Important Guidelines

1. Only use information from the provided sources.
1. Stay on topic and expand on relevant points.
1. Ignore and omit irrelevant data.

### Essay Structure

1. Begin with a title that is relevant to the question.
1. Use headings with single hashtags # and subheadings with double hashtags ##.
1. Use unordered lists with dashes - and ordered lists with numbers 1..

### Citations

1. Provide an in-text citation for every statement you make.
1. Use the document index number in square brackets, e.g. [{{ document_list[0].index }}].
1. Do not place citations in headings.

### Example Citations

1. "This statement cites two sources. [{{ document_list[0].index }}, {{ document_list[1].index }}]"
1. "This statement cites a source. [{{ document_list[0].index }}]"
1. "This statement cites all sources. [{{ document_list[0].index }}, {{ document_list[1].index }}, {{ document_list[2].index }}, {{ document_list[3].index }}]"

### Bibliography

1. Begin the bibliography section with the phrase "References:".
1. Only include the provided sources in the bibliography.

### Provided Sources

{% for document in document_list %}
{{ document.index }}: {{ document.text }}
{% endfor %}

### Question

Answer this question:

{{ user_query }}
