@font-face {
  font-family: Aquatico; font-style: normal; font-weight: 400; font-display: swap; src: url("/assets/Aquatico-Regular_dQPsYFaKC1hWHa5M4Mhwb.otf") format("truetype");
}
@font-face {
  font-family: "Space Grotesk"; font-style: normal; font-weight: 300 700; font-display: swap; src: url("/assets/SpaceGrotesk-VariableFont_wght_AZdyNrdruq2G4j0Xpn24w.ttf") format("truetype");
}
html {margin: 0; display: grid; min-height: 100%}
@media all {
  body:where([data-ws-component="Body"]) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }
  div:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  address:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  article:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  aside:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  figure:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  footer:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  header:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  main:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  nav:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  section:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h1:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h2:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h3:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h4:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h5:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h6:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  p:where([data-ws-component="Paragraph"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  b:where([data-ws-component="Bold"]) {
    font-weight: 700;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
  }
  form:where([data-ws-component="Form"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    min-height: 20px
  }
  input:where([data-ws-component="Input"]) {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    display: block
  }
  button:where([data-ws-component="Button"]) {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    text-transform: none
  }
  ol:where([data-ws-component="List"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px
  }
  ul:where([data-ws-component="List"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px
  }
  li:where([data-ws-component="ListItem"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  a:where([data-ws-component="Link"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    min-height: 1em;
    display: inline-block
  }
  label:where([data-ws-component="Label"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    display: block
  }
}
@media all {
  [data-ws-id="99Dp8-NRrfj9kcpEEysLo"] {
    height: 100vh;
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1)
  }
  [data-ws-id="-6tQDIL8whFLc2LhVDcHl"] {
    width: 66.6666666667%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem
  }
  [data-ws-id="12QgLXoQAM9285L0PMt1U"] {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    font-family: Aquatico, sans-serif
  }
  [data-ws-id="h7p__CTeFKSFmNOfL8uLh"] {
    flex-grow: 1;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgba(243, 244, 246, 1);
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    font-family: Space Grotesk, sans-serif
  }
  [data-ws-id="8R88L19pIzjN3hFZSn8mA"] {
    margin-bottom: 1rem
  }
  [data-ws-id="GcGqBsXEUDM6JcpQwmjJN"] {
    font-size: 1.125rem;
    line-height: 1.75rem
  }
  [data-ws-id="RI1WXKSVgMJ3CH7AV2oWI"] {
    margin-top: 1rem
  }
  [data-ws-id="EPjean7Cx2gClNw5T2JDt"] {
    width: 100%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1)
  }
  [data-ws-id="rxEJV1Kw2wKUY6Rl6Xqw0"] {
    margin-top: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1)
  }
  [data-ws-id="xBBTBEvtiROjYV5c4t8Fv"] {
    width: 33.3333333333%;
    display: flex;
    flex-direction: column;
    border-left-width: 1px;
    border-bottom-color: rgba(229, 231, 235, 1);
    border-left-color: rgba(229, 231, 235, 1);
    border-right-color: rgba(229, 231, 235, 1);
    border-top-color: rgba(229, 231, 235, 1);
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    border-left-style: solid
  }
  [data-ws-id="WjgibvYYWwksoNZMZThB-"] {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    font-family: Aquatico, sans-serif
  }
  [data-ws-id="Sv4rAey1MCfJXaKLRJAWg"] {
    flex-grow: 1;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgba(243, 244, 246, 1);
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    font-family: Space Grotesk, sans-serif;
    font-weight: 400
  }
  [data-ws-id="LTt_qWB0BItmb5APCONgU"] {
    margin-bottom: 0.5rem
  }
  [data-ws-id="01p1EhI7IXyULnZnDshGo"] {
    font-family: Space Grotesk, sans-serif
  }
  [data-ws-id="zGZi5yg7yHQNVBBqMinj0"] {
    margin-bottom: 0.5rem
  }
  [data-ws-id="XqKEHAvdogpMU1ZSOBtD7"] {
    margin-bottom: 1rem
  }
  [data-ws-id="pEV_rwe60BEI_HWjDDsno"] {
    font-size: 1.125rem;
    line-height: 1.75rem
  }
  [data-ws-id="scoaQhPYvF5XiZYEPeWIh"] {
    margin-bottom: 1rem
  }
  [data-ws-id="VZ-0wov4vLX2T8fSA-dTO"] {
    font-size: 1.125rem;
    line-height: 1.75rem
  }
}